@media (max-width: 400px) {
    .navBar {
        height: 66px !important;
        padding-left: 0.5em !important;
        padding-right: 0.5em !important;
    }

    .navBar .location {
        font-size: 1.8em !important;
    }

    .navBar .name {
        font-size: 2em !important;
    }

    .navBar ion-icon {
        font-size: 2em !important;
    }

    #menuSection .menuItem {
        font-size: 1.3em !important;
        line-height: 1.5em !important;
        margin-bottom: 0.2em !important;
        margin-top: 0.2em !important;
        padding: 0.2em 0 !important;
    }

    .stampImageHolder {
        top: 80px !important;
        left: 80% !important;
        transform: translateX(-50%) !important;
        width: 80px !important;
        height: 80px !important;
        background-size: cover !important;
    }

    .headerTextContainer {
        flex-direction: column !important;
        height: auto !important;
        gap: 0.5em !important;
        padding: 0.5em !important;
        align-items: center !important;
    }

    .projectsHeaderText {
        font-size: 2.2em !important;
        width: 100% !important;
        padding: 0.2em 0 !important;
    }

    .headerTextContainer p {
        font-size: 1em !important;
        width: 100% !important;
        text-align: center !important;
        margin: 0 !important;
    }

    .contactMeText {
        font-size: 1.2em !important;
    }

    .contactMeBox {
        font-size: 1.1em !important;
    }

    .contactMeBox p {
        font-size: 1em !important;
        line-height: 1.2em !important;
    }

    .footerName {
        font-size: 1.2em !important;
    }

    .footerContent {
        height: 30px !important;
    }

    .socialIcon {
        font-size: 1.1em !important;
    }

    .socials {
        gap: 0.7em !important;
        margin-top: 0.2em !important;
    }

    .spacer {
        height: 7px !important;
        width: 7px !important;
    }

}